  <div class="col-xs-11 row reg_project background_grey">

    <div>
      <hr class="division">
    </div>
  
    <div class="operations">
      <div class="">
        <%= link_to '创建新护工信息', "/nurses/new", class: "col-xs-12 btn btn-primary" %>
      </div>
    </div>

  </div>
