// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//圆角
@mixin rounded($radius: 10px){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

//文字旋转
@mixin rotated{
  -webkit-transform: rotate(-90deg);  
  -moz-transform: rotate(-90deg);  
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}

//输入框周围蓝色阴影
input
{
  &:focus
  {
    box-shadow: 0 0 20px #aaeeff;
    -moz-box-shadow: 0 0 20px #aaeeff;
    -webkit-box-shadow:inset 0 0 20px #aaeeff;
  }
}

//分割线
hr.division
{
  border: 1px dashed #BCBCBC;
  margin: 10px 0;
  width: 100%;
}

//数据库文本展示格式
pre{white-space: pre-wrap;}
.pre{white-space: pre-wrap;}
//分享到
div#ckepop{padding:10px 0px;}

//提示信息
p.error,p.success,p.alert,p.notice
{
  padding-top:12px;
  color:black;
  line-height:30px;
  font:17px bold;
  text-align:center;
  vertical-align:middle;

  position: absolute;
  height:50px;
  width:80%;
  margin: 50px 10%;
  @include rounded(6px);

  cursor:pointer;
  z-index: 10;
  *filter:alpha(opacity=50);
  box-shadow: 0 1px 5px #666666;
}
p.error,p.alert 
{
  border:1px solid red;
  background-color:#F2DCE0;
}
p.notice,p.success 
{
  border:1px solid green;
  background-color: #ECF9FF;
}

//当前页面的链接
a#current
{
  color: white;
  background: #65944A; 
}

//btn式链接、按钮字体颜色为白色
a.btn{color:white;}
//button.btn{color:white;}
////#通用颜色定义
.background_pink{ background-color: #FDF6EE;}
.black{color: #000;}
.grey{color: #777;}
////#notice显示
.help-block
{
  color: #a94442;
}
.has-feedback .form-control-feedback
{
  position: absolute;
}

.glyphicon.form-control-feedback
{
  top: 17px;
}

////#col-xs-9/10为最大块，两侧边距12.5%/8.333%，直接位于container-fluid->row块内
.col-xs-9
{
  margin: 0px 12.5%;
  padding:0px;
}
.col-xs-11
{
  margin: 0px 4.167%;
  padding:0px;
}

////#layout : footer页脚
//页脚宽度为100%，两行文字均居中，颜色淡灰色，底部不再留边距
p.footer
{
  text-align: center;
  margin-top:10px;
  margin-bottom:0px;
  color: #777;
}


////#用户登录页面
#login
{
  input.form-control
  {
    height: 45px;
    border-radius:0px;
  }
  .btn
  {
    border-radius: 0px;
    width:35%;
  }
  p
  {
    text-align: center;
    margin-bottom:0px;
    color: #777;
  }
  #login_logo
  {
    padding: 0px;
  }

  #login_logo
  {
    margin: 0px 25% 50px 25%;
  }
  #login_email, #login_password
  {
    margin: 10px 12.5% 10px 12.5%;
  }
  #login_login
  {
    input
    {
      margin: 10px 0 80px 12.5%;
      font-family:"Microsoft YaHei",微软雅黑;
      font-size: 22px;
      background-color: #88BDA5;
      border-color: #88BDA5;
    }
  }
  .smallspace
  {
    padding: 0px 2.5%;
    width: 5%;
  }
  
  #login_reg
  {
    a
    {
      color: #fff;
      margin-top: 10px;
      font-family:"Microsoft YaHei",微软雅黑;
      font-size: 22px;
      background-color: #E0969D;
      border-color: #E0969D;
    }
  }
}

////#用户注册页面
#new_user
{
  .col-xs-1.back
  {
    margin-top:13px;
    margin-left:4.167%;
    span
    {
      font-size:24px;
      color:#E0969D;
    }
    a:hover
    {
      color:#666;
      background:#fff;
    }
  }
  .glyphicon-user
  {
    position:absolute;
    left:1px;
    top:1px;
    z-index:3;
    color:#9B9B9B;
    background-color:#EFEFEF;
    font-size:43px
  }
  .col-xs-9.form-group{margin-left:12.5%;margin-right:12.5%;}
  h3
  {
    text-align: center;
    margin-top:13px;
  }

  .form-group 
  {
    input,select
    {
      height: 45px;
      width:100%;
      border-radius:0px;
      &[type="file"]
      {
        height:45px;
        padding:10px 50px;
      }
    }
    select.sp-sel{padding-left:3px;}
    select.sp-sel:nth-child(1){ width:35%; }
    select.sp-sel:nth-child(2){ width:25%; }
    select.sp-sel:nth-child(3){ width:20%; }
    select.sp-sel:nth-child(4){ width:20%; }
  }
  .btn
  {
    border-radius: 0px;
    width:100%;
  }

  input.form-control 
  {
    height: 45px;
    width:100%;
  }

  input[type="submit"]
  {
    font-size: 22px;
    background-color: #88BDA5;
    border-color: #88BDA5;
  }
  textarea{height:135px;}
}


////#正在报名活动、老人信息显示
#reg_project,#show_resident
{
  margin-top:20px;
  border: 1px solid #C4C4C4;
  .tag
  {
    float:left;
    position:relative;
    width:24%;
    left:7%;
    top:-6px;
    img
    {
      width:100%;
      //position:relative;
      //z-index:2;
    }
    .tag-label
    {
      p
      {
        text-align:center;
        color:white;
        font-weight:bold;
        font-size:18px;
        margin-bottom:5px;
      }
      left: 15%;
      top:15px;
      width:70%;
      position:absolute;
    }
  }
  .desc
  {
    float:left;
    position:relative;
    width:64%;
    left:12%;
    top:9px;
    margin-bottom:15px;
    p
    {
      font-size:18px;
      color:#9E8778;
    }
    p.black{color:black;}
    p.grey{color:#777;font-size:14px;}
    .toggle_btn
    {
      position:relative;
      left:25%;
      width:50%;
    }
    span.rotate
    {
      color:#EB8A68;
      @include rotated;
    }
  }

  .text,.operations
  {
    float:left;
    position:relative;
    left:7%;
    width:86%;
  }
}

////#活动创建页面
#new_project
{
  .field.multiupload
  {
    span.glyphicon-remove-circle
    {
      font-size: 20px;
      vertical-align:middle;
      color: #E0969D;
    }
  }

}














