// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
////#通用样式，以后放在style.css中，style.css中的样式分离到各个页面或者控制器的css中
//圆角
@mixin rounded($radius: 10px){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
//输入框周围蓝色阴影
input
{
  &:focus
  {
    box-shadow: 0 0 20px #aaeeff;
    -moz-box-shadow: 0 0 20px #aaeeff;
    -webkit-box-shadow:inset 0 0 20px #aaeeff;
  }
}

//数据库文本展示格式
pre{white-space: pre-wrap;}
//分享到
div#ckepop{padding:10px 0px;}

//提示信息
p.error,p.success,p.alert,p.notice
{
  padding-top:12px;
  color:black;
  line-height:30px;
  font:17px bold;
  text-align:center;
  vertical-align:middle;

  position: absolute;
  height:50px;
  width:33%;
  margin-top:50px;
  margin-left:33%;
  @include rounded(6px);

  cursor:pointer;
  z-index: 10;
  *filter:alpha(opacity=50);
  box-shadow: 0 1px 5px #666666;
}
p.error,p.alert 
{
  border:1px solid red;
  background-color:#F2DCE0;
}
p.notice,p.success 
{
  border:1px solid green;
  background-color: #ECF9FF;
}

//当前页面的链接
a#current
{
  color: white;
  background: #65944A; 
}

////通用颜色定义
.background_pink{ background-color: #FDF6EE;}
.help-block{color: #a94442;}

////#用户首页
//grid1为header
#grid1{clear:both;}
//grid2为indexbanner
#grid2{clear:both;}
//grid3为footer
#grid3{clear:both;}

////#用户注册页面
.message_of_user_register
{
  p.error,p.success,p.alert,p.notice{margin-left:33%;}
}
form.new_user,form.edit_user
{
  div.field
  {
    height:100px;
    label,input
    {
      display:block;
      clear:left;
    }
  }
  div.field_with_errors
  {
    color:#A73E1F;
    label.message{float:left;}
  }
}

////#用户登录页面
#login
{
  //background-color: #FDF6EE;
  input.form-control
  {
    height: 45px;
  }
  .btn
  {
    border-radius: 0px;
    width:35%;
  }
  p
  {
    text-align: center;
    margin-bottom:0px;
    color: #777;
  }
  #login_logo
  {
    padding: 0px;
  }

  #login_logo
  {
    margin: 0px 25% 50px 25%;
  }
  #login_email, #login_password
  {
    margin: 10px 12.5% 10px 12.5%;
  }
  #login_login
  {
    input
    {
      margin: 10px 0 80px 12.5%;
      font-family:"Microsoft YaHei",微软雅黑;
      font-size: 22px;
      background-color: #88BDA5;
      border-color: #88BDA5;
    }
  }
  .smallspace
  {
    padding: 0px 2.5%;
    width: 5%;
  }
  
  #login_reg
  {
    a
    {
      margin-top: 10px;
      font-family:"Microsoft YaHei",微软雅黑;
      font-size: 22px;
      background-color: #E0969D;
      border-color: #E0969D;
    }
  }
}





